rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Match any document in any collection
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
